<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr>
      {% for heading in table_headings %}
        <th>{{ heading }} </th>
      {% endfor %}
      <th>
        Score
      </th>
    </tr>
  </thead>
  <tbody>
    {% for row in object_list %}
      <tr valign="top">
        {% for column in row.data %}
          <td>
            {% for x in column %}
              {% if not forloop.first %}
                <br>
              {% endif %}
              {% if row.is_deleted %}<strike>{% endif %}
              {% if x.url %}
                <a href="{% url url_name row.pk %}?next={{ request.get_full_path|urlencode }}">
                  {{ x.text|truncatewords:50|linebreaksbr }}
                </a>
              {% else %}
                {% if x.small %}
                  <small>
                    {{ x.text|truncatewords:80|linebreaksbr }}
                  </small>
                {% else %}
                  {{ x.text|truncatewords:50|linebreaksbr }}
                {% endif %}
              {% endif %}
              {% if row.is_deleted %}</strike>{% endif %}
            {% endfor %}
          </td>
        {% endfor %}
        <td>
          <small>
            {{ row.score }}
          </small>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
