{% extends 'dash/base.html' %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Dashboard
            </a>
          </li>
          {% include 'base/_paginate_elastic.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with method='GET' inline_checkbox=True no_token=True submit='Search' %}
      {% if object_list %}
        {% include 'search/_search_result_table.html' %}
      {% elif criteria %}
        No results found
      {% endif %}
    </div>
  </div>
{% endblock content %}
