{% extends "project/base.html" %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <form action="." method="GET">
          <input name="q" type="text" />
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
